.auth-container {
  max-width: 500px;
  margin: 80px auto;
  background-color: #061f3f;
  padding: 30px;
  border-radius: 8px;
  color: #fff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.auth-container input {
  width: 400px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  background-color: #b6b7b9;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.auth-container button {
  padding: 10px;
  background-color: #145a4c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.auth-container button:hover {
  background-color: #117c67;
}

.auth-container p {
  margin-top: 10px;
  text-align: center;
}
